@font-face{
  src: url("./fonts/AvenirNext/AvenirNextCyr-Regular.ttf");
  font-family: 'AvenirNextCyr';
  font-weight: 300;
}

@font-face{
  src: url("./fonts/AvenirNext/AvenirNextCyr-Medium.ttf");
  font-family: 'AvenirNextCyr';
  font-weight: 500;
}

@font-face{
  src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
  font-family: 'OpenSans';
  font-weight: 300;
}

@font-face{
  src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
  font-family: 'OpenSans';
  font-weight: 700;
}

@font-face{
  src: url("./fonts/OpenSans/OpenSans-Light.ttf");
  font-family: 'OpenSans';
  font-weight: 100;
}

@font-face{
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
  font-family: 'Montserrat';
  font-weight: 300;
}

@font-face{
  src: url("./fonts/ProximaNova/ProximaNova-Reg.otf");
  font-family: 'ProximaNova';
  font-weight: 300;
}

@font-face{
  src: url("./fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf");
  font-family: 'ProximaNova';
  font-weight: 600;
}

@font-face{
  src: url("./fonts/entypo-social.ttf");
  font-family: 'entypo';
  font-weight: 300;
}

.my-body{
  font-family: 'OpenSans';
  font-weight: 300;
}

.main-menu{
  display: flex;
  justify-content: space-between;
  width: 475px;
  list-style: none;
  padding-top: 20px;
  padding-right: 65px;
}

.menu-link{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
}

.main-menu-container{
  display: flex;
  justify-content: space-between;
  padding-left: 45px;
  padding-top: 35px;
  font-family: 'AvenirNextCyr';
  font-weight: 300;
}

.header{
  background-image: url('./images/background.jpg');
  height: 835px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-title{
  color: #ffffff;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'AvenirNextCyr';
  font-weight: 300;
  position: absolute;
  bottom: 130px;
  left: 105px;
}

.subtitle{
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'OpenSans';
  font-weight: 700;
  position: absolute;
  bottom: 135px;
  left: 260px;
}

.main{
  background: #a2ca28;
}

.benefits{
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 1100px;
  min-width: 900px;
  margin: 0 auto;
  color: #ffffff;
  padding-top: 90px;
}

.link-item{
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  font-family: 'ProximaNova';
  font-weight: 300;
}

.benefits__title{
  font-size: 24px;
}

.benefits__text{
  font-size: 14px;
  font-family: 'ProximaNova';
  font-weight: 300;
  line-height: 2;
  width: 250px;
}

.title-red{
  color: #fd634e;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 250;
}

.title-green{
  color: #a2ca28;
  font-size: 35px;
  font-weight: 100;
  text-transform: uppercase;
}

.text-gray{
  color: #656e74;
  font-size: 14px;
}

.link-square{
  font-size: 14px;
  color: #a2ca28;
}

.square{
  background: #ffffff;
  text-align: center;
  padding: 15px;
}

.all_sequence{
  padding-top: 80px;
}

.sequence{
  display: flex;
  justify-content: center;
}

.images{
  position: relative;
  height: 394px;
}

.images::before{
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.3);
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.5s;
}

.images-hover{
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.images:hover .images-hover{
 opacity: 1;
}

.images:hover::before{
  opacity: 1;
}

.images-hover2{
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.images:hover .images-hover2{
 opacity: 1;
}

.images:hover::before{
  opacity: 1;
}

.my-footer{
  background: #000;
  display: flex;
  justify-content: center;
  padding: 80px 0px 30px 0px;
}

.my-input{
  padding: 10px;
  border: 0px solid;
  font-family: 'ProximaNova';
  font-weight: 300;
  font-size: 15 px;
  border-radius: 2px;
  height: 29px;
}

.my-button{
  background: #a2ca28;
  color: #fff;
  font-family: 'ProximaNova';
  font-weight: 600;
  font-size: 15 px;
  padding: 10px 60px 10px 40px;
  position: relative;
  border-radius: 2px;
  border: 0px solid;
  margin-right: 300px;
  height: 49px;
}

.my-button:after{
  content: '';
  display: inline-block;
  background-image: url("./images/arrow.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 30px;
}

.social-buttoms{
  list-style: none;
  display: flex;
}

.social{
 height: 48px;
 width: 48px;
 border-radius: 50%;
 margin-left: 20px;
 position: relative;
}

.fb{
  background: #2e3192
}

.fb:hover{
  animation: socAnimation 0.5s forwards;
}

@keyframes socAnimation{
  100% {
    background: #a2ca28;
  }
}

.fb:before{
  content: '';
  background-image: url("./images/fb.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 15px;
  left: 18px;
}

.tw{
 background: #00aeef
}

.tw:hover{
  animation: socAnimation 0.5s forwards;
}

.tw:before{
  content: '';
  background-image: url("./images/tw.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 17px;
  left: 15px;
}

.yt{
 background: #ed3223
}

.yt:hover{
  animation: socAnimation 0.5s forwards;
}

.yt:before{
  content: '';
  background-image: url("./images/ln.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  position:absolute;
  top: 15px;
  left: 15px;
}

.ln{
 background: #171a8e
}

.ln:hover{
  animation: socAnimation 0.5s forwards;
}

.ln:before{
  content: '';
  background-image: url("./images/ln.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
}