.main-menu{
  display: flex;
  justify-content: space-between;
  width: 500px;
  list-style: none;
}

.menu-link{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
}

.main-menu-container{
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.header{
  background-image: url('./images/background.jpg');
  height: 890px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title{
  color: #ffffff;
  font-size: 40px;
  margin-top: 300px;
  margin-left: 50px;
  text-transform: uppercase;
}

.subtitle{
  color: #ffffff;
  font-size: 15px;
  margin-left: 200px;
  text-transform: uppercase;
}

.main{
  background: #a2ca28;
}

.benefits{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding-left: 0;
  color: #ffffff;
  padding-top: 80px;

}

.link-item{
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.benefits__title{
  font-size: 24px;
}

.benefits__text{
  font-size: 14px;
}

.title-red{
  color: #fd634e;
  font-size: 14px;
  text-transform: uppercase;
}

.title-green{
  color: #a2ca28;
  font-size: 35px;
  text-transform: uppercase;
}

.text-gray{
  color: #656e74;
  font-size: 14px;
}

.link-square{
  font-size: 14px;
  color: #a2ca28;
}

.square{
  background: #ffffff;
  text-align: center;
  padding: 50px;
}

.all_sequence{
  padding-top: 80px;
  padding-left: 200px;
  padding-right: 200px;
}

.sequence{
  display: flex;
  justify-content: center;
}